/* Initial styles for very small screens */

.app {
    font-size: 0.8em;
}

.foodDataPanel {
    padding-top: 16px;
}

.header-link {
    font-size: 0.9em;
}

.header-link.active {
    color: white;
}

.header-link.focus, .header-link:focus, .header-link.active, .header-link:active, .header-link:active:focus, .header-link.active:focus, .header-link.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

.home {
    padding-top: 25px;
    width: 550px;
    font-size: 0.8em;
}

.mobile-app-img {
    max-height: 300px;
}

/* Adapted styles for gradually becoming larger screens. */

@media (min-width: 640px) {
    .app {
        font-size: 0.8em;
    }
    .home {
        width: 630px;
    }
    .legendItem {
        width: 14px;
        height: 14px;
    }
    .mobile-app-img {
        max-height: 360px;
    }
}

@media (min-width: 800px) {
    .app {
        font-size: 0.9em;
    }
    .foodDataPanel {
        padding-top: 24px;
    }
    .header-link {
        margin-top: 14px;
        min-width: 64px;
    }
    .home {
        width: 780px;
    }
    .legendItem {
        width: 16px;
        height: 16px;
    }
    .mobile-app-img {
        max-height: 400px;
    }
}


@media (min-width: 1024px) {
    .app {
        font-size: 1.0em;
    }
    .header-link {
        margin-top: 12px;
        min-width: 68px;
    }
    .home {
        width: 950px;
    }
    .legendItem {
        width: 18px;
        height: 18px;
    }
    .mobile-app-img {
        max-height: 460px;
    }
}

@media (min-width: 1280px) {
    .app {
        font-size: 1.1em;
    }
    .header-link {
        margin-top: 8px;
        min-width: 76px;
    }
    .home {
        width: 1150px;
    }
    .legendItem {
        width: 20px;
        height: 20px;
    }
    .mobile-app-img {
        max-height: 580px;
    }
}

@media (min-width: 1600px) {
    .app {
        font-size: 1.2em;
    }
    .header-link {
        margin-top: 4px;
        min-width: 84px;
    }
    .home {
        width: 1450px;
    }
    .mobile-app-img {
        max-height: 680px;
    }
}

@media (min-width: 1920px) {
    .header-link {
        margin-top: -2px;
        min-width: 96px;
    }
    .home {
        width: 1700px;
    }
    .mobile-app-img {
        max-height: 740px;
    }
}

@media (min-width: 2400px) {
    .app {
        font-size: 1.3em;
    }
    .header-link {
        margin-top: -8px;
        min-width: 112px;
    }
    .home {
        width: 2000px;
    }
    .mobile-app-img {
        max-height: 880px;
    }
}


.app-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-link {
    color: #61dafb;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
}

.button-displaymode, .button-displaymode-enabled, .button-displaymode-disabled {
    width: 40px;
    font-size: 0.9em;
    color: white;
}

.button-displaymode-enabled {
    background: #bf0f17;
}

.button-displaymode-disabled {
    background: rgba(191, 15, 23, 0.5);
}

.button-foodPanelHead, .button-closeTab {
    width: 40px;
    font-size: 0.9em;
}

.btn-link {
    color: #969696 !important;
}

.btn-link.active {
    color: #0064ff !important;
    text-decoration: underline;
}

.chartFormLine {
    padding-top: 32px;
}

.foodDataPanel {
    padding-top: 12px;
}

.form-button {
    min-width: 128px;
    margin-left: 16px;
}

.form-label {
    color: #999999;
    font-weight: bold;
}

.form-elements {
    margin-right: 20px;
}

.form-elements-largespace {
    margin-right: 50px;
}

.form-language {
    font-size: 0.9em;
}

.form-main {
    font-size: 0.9em;
}

.form-radiobutton {
    margin-right: 5px;
}

.form-row, .form-row-indent {
    padding-bottom: 20px;
}

.form-row-indent {
    margin-left: 24px;
}

.form-section {
    padding-bottom: 16px;
}

.header {
    background: #d5ce9c;
    min-height: 50px;
}

.header-menu {
    padding-right: 12px;
}

.legendItem {
    width: 6px;
    height: 6px;
    font-size: 0.9em;
    margin-right: 5px;
    border: 1px solid black;
}


.mainPanel {
    background: #f2f5fd;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 4px;
}



.tab-panel {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    background: #b6c9f1 !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 1px solid black !important;
}

.tab-sidebar {
    background: rgba(182, 201, 241, 0.68) !important;
}

.tab-panel button.tab {
    border: 1px solid black !important;
    font-weight: normal;
    background: #d5e0f7 !important;
}

.tab-panel button.tab.active {
    background: #006ab9 !important;
    color: white;
    font-weight: bold;
}

.tab-content {
    padding: 0px !important;
}

.tab-infoitem {
    padding-right: 30px;
}

.tableHeaderClass {
    display: none !important;
}
